#chat .mention.is-staff {
}
#chat .welcome {               
background: linear-gradient(135deg, #FF81FD 0,#0a0a0a 13%,#0a0a0a 100%);
  border: 3px solid #FF81FD;
  border-left: 0px !important;
  border-right: 0px !important;
  font-weight: bold !important;
}  
#vote {
	opacity: 0.90;
}
#woot { 
	border-radius: 100px 0 0 100px ;
}
#woot .bottom { 
	border-radius: 0 0 0 100px;
}
#woot.selected, #woot .bottom, #woot.crowd-response.disabled.active .bottom {
	background: linear-gradient(to top,#6FE514,rgba(74, 169, 0, 1) 100%);
}
#meh { 
	border-radius: 0 100px 100px 0;
}
#meh .bottom { 
	border-radius: 0 0 100px 0;
}
#meh.selected, #meh .bottom, #meh.crowd-response.disabled.active .bottom {
	background: linear-gradient(to top,#EA2A2A,rgba(189, 0, 0, 1) 100%);
}
#grab.selected, #grab .bottom, #grab.crowd-response.disabled.active .bottom {
	background: linear-gradient(to top,#AA74FE,rgba(102, 28, 217, 1) 100%);
}
#dj-button.is-wait, #dj-button.is-leave, #dj-button.is-quit, #dj-button.is-locked, #dj-button.is-full {
	opacity: 0.85;
}
#dj-button, #dj-button.is-leave { 
	border-radius: 100px 100px 100px 100px;
	background: linear-gradient(to top,#3A3A3A,rgba(34, 34, 34, 1) 100%);
}
#dj-button .left {
	border-radius: 100px 100px 100px 100px;
	background: linear-gradient(to top,#14C0F3,rgba(0, 152, 196, 1) 100%);
}
#dj-button.is-leave .left {
	background: linear-gradient(to top,#F3653D,rgba(255, 129, 253, 1) 100%);
}
