#your-next-media:after,
#your-next-media:before{
  display: block !Important;
  position: absolute !Important;
  right: 5px !Important;
}
/* Top text */
#your-next-media:after{
  content: "We love Music.";
  font-family: Heavy Metal Rocking !important;
  font-weight: normal !Important;
  font-style: normal !Important;
  color: rgb(255, 129, 253) !Important;
  top: 10px;
}
/* Bottom text */
#your-next-media:before{
  content: "";
  color: #ff81fd;
  top: 24px !Important;
  font-size: 17px !Important;
  font-style: italic !Important;
}
/* Song title */
#your-next-media span{
  width: calc(100% - 260px) !Important;
}
